.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card {
	background-color: #eeeeee;
	color: #000000;
	padding: 2rem;
	border: 1px solid #000000;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 450px;
  }

  .card fieldset {
	border: none;
	display: flex;
	flex-wrap: wrap;
	gap: 5px
  }
  
  form {
	display: flex;
	flex-direction: column;
	gap: 20px;
  }

  .options-fieldset {
	text-align: left;
	display: flex;
	flex-direction: column;
	min-height: 170px;
  }
  
 form select {
	padding: 0px 10px;
  }

 input[type="checkbox"], 
 input[type="radio"] {
	margin: 10px;
  }

 .btn-group {
	display: flex;
	gap: 5px;
  }

  .form-card .btn-group {
	justify-content: flex-end;
  }

  .results-card .btn-group {
	justify-content: space-between;
  }

  label {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
  }

  button {
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
  }

  .sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
  }

  p {
	text-align: center;
	font-size: 1.5em;
  }

  .italics {
	font-style: italic;
  }