/*

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

main > .container {
  width: 100%;
}

h1 {
  text-align: left;
}

#fasti {
  height: 100vh;
  object-fit: cover;
  object-position: left top;
  width: clamp(30%, 300px, 50%);
}

.card {
  background-color: #eeeeee;
  color: #000000;
  padding: 2rem;
  border: 1px solid #000000;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 450px;
}

.card fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.options-fieldset {
  text-align: left;
  display: flex;
  flex-direction: column;
  min-height: 170px;
}

.btn-group {
  display: flex;
  gap: 5px;
}

.form-card .btn-group {
  justify-content: flex-end;
}

.results-card .btn-group {
  justify-content: space-between;
}

p {
  text-align: center;
  font-size: 1.5em;
}
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.main-grid-container {
  display: grid;
  grid-template-rows: auto 1fr 70px;
  min-height: 100vh;
}

header div,
.main-content,
.hero,
footer {
  padding: 1rem;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
  background-color: #293354;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: none;
}

.navbar.expanded {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#logo {
  height: 50px;
}

.navbar li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*change this color*/
.navbar li:hover {
  background-color: #5063a1;
}

.navbar li a {
  text-decoration: none;
  /*expands clickable area*/
  display: inline-block;
  width: 100%;
  padding: 1.5rem 0;
}

.button-mobile-menu-toggle {
  border: none;
  margin: 0;
  padding: 5px;
  place-self: end;
}

.button-mobile-menu-toggle rect {
  fill: #ffffff;
}

.button-mobile-menu-toggle:hover {
  border-radius: 10%;
  background-color: #5063a1;
}

/* Larger than phablet */
@media (min-width: 550px) {
  header {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }

  .navbar ul {
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  }

  .navbar li a {
    padding: 1rem;
  }

  .button-mobile-menu-toggle {
    display: none;
  }
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
  background-color: #293354;
  color: #ffffff;
  display: flex;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*these are temporary*/
#fasti {
  width: 100%;
  background-color: #c5c9d9;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 10px;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.italics {
  font-style: italic;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
